
:root {
  --dark-maroon: #B24242;
  --light-maroon: #FBE8E8;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display:flex;
}
.m-auto {
  margin:auto;
}
.justify-center
{
  justify-content: center;
}

.flex-columns {
  flex-direction: column
}
.text-left {
  text-align:left;
}
.img-xs {
  width:13px;
}
button {
  background: transparent;
  color: var(--dark-maroon);
  border:0px;
}
button:hover {
  background: var(--dark-maroon);
}
.counter button, .counter input {
  font-size:21px;
  width:60px;
}
.counter {
  width:180px;
  
}
.counter input {
  border:0px;
}
.counterUpdate {
  border:1px var(--dark-maroon) solid;
  border-radius: 8px;
}
.counterUpdate button:hover {
  color: var(--white);
}

.counterUpdate * {
  text-align:center;
  height:56px;
  box-sizing: border-box;
}
.counterUpdate input {
  border-left:1px var(--dark-maroon) solid;
  border-right:1px var(--dark-maroon) solid;
  background: var(--light-maroon);
}
.counterUpdate button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.counterUpdate button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

